<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/css/icon.css" />
<link rel="stylesheet" href="/css/profilePage.css" />
<% if(doctor.entryType === "doctor"){ %>
<div class="row">
  <div class="col-8 p-5 border rounded shadow me-4">
    <div class="d-flex mb-3">
      <div class="basic-info d-flex flex-column w-50">
        <img
          src="<%= doctor.image.path %>"
          alt="avatar"
          class="img-fluid profilePhoto mb-3"
        />
        <h5 class="text-primary"><%= doctor.fullName %></h5>
        <% if(doctor.doctorDetails){ %>
        <small><%= doctor.doctorDetails.speciality %></small>
        <% } %>
      </div>
      <div class="full-info w-100">
        <div class="info-container d-inline-flex">
          <i class="fa-solid fa-graduation-cap icon"></i>
          <% if(doctor.doctorDetails){ %>
          <span><%= doctor.doctorDetails.education %></span>
          <% } %>
        </div>
        <hr class="w-100" />
        <div class="info-container d-inline-flex">
          <i class="fa-solid fa-location-dot icon"></i>
          <% if(doctor.doctorDetails){ %>
          <span><%= doctor.doctorDetails.location %></span>
          <% } %>
        </div>
        <hr class="w-100" />
        <div class="info-container d-inline-flex">
          <i class="fa-regular fa-id-card icon"></i>
          <% if(doctor.doctorDetails){ %>
          <span><%= doctor.doctorDetails.regId %></span>
          <% } %>
        </div>
        <hr class="w-100" />
        <div class="info-container d-inline-flex">
          <ion-icon name="language" class="icon"></ion-icon>
          <% if(doctor.doctorDetails){ %>
          <span><%= doctor.doctorDetails.language %></span>
          <% } %>
        </div>
        <hr class="w-100" />
      </div>
    </div>
    <% if(doctor.doctorDetails){ %>
    <div class="about-doctor pb-3"><%= doctor.doctorDetails.aboutDoctor %></div>
    <% } %> <% if(user !== undefined && user.username === doctor.username ){ %>
    <div class="profileButton d-flex gap-3">
      <a
        type="button"
        href="/caredata/users/<%= doctor._id %>/edit"
        class="btn btn-warning w-100"
        >Edit
      </a>
      <form action="/logout" method="post" class="w-100">
        <button class="btn btn-danger w-100">Log Out</button>
      </form>
      <a
        href="/caredata/doctors/<%= doctor._id %>/adddetails"
        type="button"
        class="btn btn-success w-100"
        >Add Details</a
      >
    </div>
    <% } %>
  </div>
  <div class="col-3 border rounded shadow ms-3 p-5">
    <div class="clinic-time d-flex align-items-center flex-column mb-5">
      <% if(doctor.doctorDetails){ %>
      <h5 class="text-primary mb-3">Clinic</h5>
      <p>
        <%= doctor.doctorDetails.open %> - <%= doctor.doctorDetails.close %>
      </p>
      <% } %>
    </div>
    <div class="appointment-options w-100">
      <div class="vstack gap-2">
        <a href="/caredata/doctors/<%= doctor._id %>/book-appointment">
          <button type="button" class="btn btn-primary w-100">
            Book Appointment
          </button>
        </a>
        <button type="button" class="btn btn-outline-primary w-100" `>
          Video Consult
        </button>
      </div>
    </div>
  </div>
</div>

<% } %>
