<%- layout('layout/boilerplate') %>

<link rel="stylesheet" href="/css/icon.css" />

<div class="row">
  <div class="col-8">
    <div class="input-group mb-4 offset-3">
      <span class="input-group-text p-3 shadow"
        ><ion-icon name="search-outline" class="icon"></ion-icon
      ></span>
      <input
        type="text"
        class="form-control p-3 shadow"
        placeholder="Search a doctor..."
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>

  <% doctors.map(doctor=>{ %> <% if(doctor.entryType === "doctor"){ %>
  <div class="col-8 offset-2 border mb-3 rounded p-5 shadow">
    <div class="header-content d-flex flex-row align-items-center mb-3">
      <a href="/caredata/users/<%= doctor._id %>">
        <img
          class="rounded-circle me-5"
          src="<%= doctor.image.path %>"
          alt="avatar"
          height="100px"
          width="100px"
        />
      </a>

      <div class="doctor-info d-flex flex-column w-100">
        <a
          style="text-decoration: none"
          href="/caredata/users/<%= doctor._id %>"
          ><h5 class="text-primary"><%= doctor.fullName %></h5></a
        >
        <% if(doctor.doctorDetails){ %>
        <small class="text-secondary"
          ><%= doctor.doctorDetails.speciality %></small
        >
        <% } %> <% if(doctor.doctorDetails){ %>
        <small class="text-secondary"
          ><%= doctor.doctorDetails.experience %> years experience
          overall</small
        >
        <% } %> <% if(doctor.doctorDetails){ %>
        <b><%= doctor.doctorDetails.location %></b>
        <% } %> <% if(doctor.doctorDetails){ %>
        <span>Orange Dental Clinic +2 more</span>
        <p>₹400 Consultation at clinic</p>
        <% } %>
        <hr class="w-100" />
      </div>
    </div>
    <div class="footer-content d-flex justify-content-between">
      <div class="star-review"></div>
      <div class="d-flex flex-column">
        <div class="d-flex">
          <ion-icon name="calendar-number-outline" class="icon"></ion-icon>
          <p class="me-1">Available on</p>
          <p>Sunday, 27 Aug</p>
        </div>
        <a href="" type="button" class="btn btn-info text-light rounded-pill"
          >Book Appointment</a
        >
      </div>
    </div>
  </div>
  <% } %> <% }) %>
</div>
