<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/css/profilePage.css" />
<div class="row">
  <div class="col-5">
    <div class="card p-3 profile">
      <img src="<%=user.image.path ? user.image.path : "/image/defaultUser.png"
      %>" alt="" class="card-img-top img-fluid profilePhoto mt-3" />
      <div class="card-body">
        <div class="profileDetails">
          <b class="card-title">Full Name</b>
          <span class="card-text"><%= user.fullName %></span>
        </div>
        <div class="profileDetails">
          <b class="card-title">Username</b>
          <span class="card-text"><%= user.username %></span>
        </div>
        <div class="profileDetails">
          <b class="card-title">Email</b>
          <span class="card-text"><%= user.emailId %></span>
        </div>
        <div class="profileButton d-flex gap-3">
          <a href="/caredata/users/<%= user._id %>/edit" class="w-100">
            <button class="btn btn-warning w-100">Edit</button>
          </a>
          <form action="/logout" method="post" class="w-100">
            <button class="btn btn-danger w-100">Log Out</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-7 profile-features">
    <div class="card me-3 mb-3 col profile-feature">
      <a class="redirection-box" href="/caredata/users/<%= user._id %>/upload">
        <h4>Upload Data</h4>
      </a>
    </div>
    <div class="card me-3 mb-3 col profile-feature">
      <a class="redirection-box" href="">
        <h4>Consult with Doctor</h4>
      </a>
    </div>

    <div class="card me-3 mb-3 col profile-feature">
      <a class="redirection-box" href="">
        <h4>Appointments</h4>
      </a>
    </div>
    <div class="card me-3 mb-3 col profile-feature">
      <a class="redirection-box" href="">
        <h4>Book Appointments</h4>
      </a>
    </div>
  </div>
</div>
