<% layout('layout/boilerplate') %>
<!-- <link rel="stylesheet" href="/css/icon.css" />
<link rel="stylesheet" href="/css/doctor.css" /> -->
<link rel="stylesheet" href="/css/icon.css" />
<link rel="stylesheet" href="/css/profilePage.css" />
<% if(user.entryType === "patient"){ %>
<div class="row">
  <div class="col-5">
    <div class="card p-3 profile">
      <img src="<%=user.image.path ? user.image.path : "/image/defaultUser.png"
      %>" alt="" class="card-img-top img-fluid profilePhoto mt-3" />
      <div class="card-body">
        <div class="profileDetails">
          <b class="card-title">Full Name</b>
          <span class="card-text"><%= user.fullName %></span>
        </div>
        <div class="profileDetails">
          <b class="card-title">Username</b>
          <span class="card-text"><%= user.username %></span>
        </div>
        <div class="profileDetails">
          <b class="card-title">Email</b>
          <span class="card-text"><%= user.emailId %></span>
        </div>
        <div class="profileButton d-flex gap-3 mb-3">
          <a href="/caredata/users/<%= user._id %>/edit" class="w-100">
            <button class="btn btn-warning w-100">Edit</button>
          </a>
          <form action="/logout" method="post" class="w-100">
            <button class="btn btn-danger w-100">Log Out</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-7 profile-features">
    <div class="card me-3 mb-3 col profile-feature">
      <a class="redirection-box" href="/caredata/users/<%= user._id %>/upload">
        <h4>Upload Data</h4>
      </a>
    </div>

    <div class="card me-3 mb-3 col profile-feature">
      <a class="redirection-box" href="">
        <h4>Consult with Doctor</h4>
      </a>
    </div>

    <div class="card me-3 mb-3 col profile-feature">
      <a class="redirection-box" href="">
        <h4>Appointments</h4>
      </a>
    </div>
    <div class="card me-3 mb-3 col profile-feature">
      <a class="redirection-box" href="">
        <h4>Book Appointments</h4>
      </a>
    </div>
  </div>
</div>
<% } else{ %>
<div class="row">
  <div class="col-7 p-5 border rounded shadow me-4" style="height: 550px">
    <div class="d-flex mb-3">
      <div class="basic-info d-flex flex-column pe-5">
        <img src="<%=user.image.path ? user.image.path :
        "/image/defaultUser.png" %>" alt="avatar" class="img-fluid profilePhoto
        mb-3" />
        <h5 class="text-primary"><%= user.fullName %></h5>
        <% if(user.doctorDetails){ %>
        <small><%= user.doctorDetails.speciality %></small>
        <% } %>
      </div>
      <div class="full-info">
        <div
          class="info-container d-flex align-items-center border-bottom mb-3"
        >
          <i class="fa-solid fa-user-graduate icon me-3"></i>
          <% if(user.doctorDetails){ %>
          <p><%= user.doctorDetails.education %></p>
          <% } %>
        </div>
        <div
          class="info-container d-flex align-items-center border-bottom mb-3"
        >
          <i class="fa-solid fa-location-dot icon me-3"></i>
          <% if(user.doctorDetails){ %>
          <p><%= user.doctorDetails.location %></p>
          <% } %>
        </div>
        <div
          class="info-container d-flex align-items-center border-bottom mb-3"
        >
          <i class="fa-regular fa-id-card icon me-3"></i>
          <% if(user.doctorDetails){ %>
          <p><%= user.doctorDetails.regId %></p>
          <% } %>
        </div>
        <div
          class="info-container d-flex align-items-center border-bottom mb-3"
        >
          <ion-icon name="language" class="icon me-3"></ion-icon>
          <% if(user.doctorDetails){ %>
          <p><%= user.doctorDetails.language %></p>
          <% } %>
        </div>
      </div>
    </div>
    <% if(user.doctorDetails){ %>
    <div class="about-doctor pb-3"><%= user.doctorDetails.aboutDoctor %></div>
    <% } %>

    <div class="profileButton d-flex gap-3">
      <a
        type="button"
        href="/caredata/users/<%= user._id %>/edit"
        class="btn btn-warning w-100"
        >Edit
      </a>
      <form action="/logout" method="post" class="w-100">
        <button class="btn btn-danger w-100">Log Out</button>
      </form>
      <a
        href="/caredata/users/<%= user._id %>/adddetails"
        type="button"
        class="btn btn-success w-100"
        >Add Details</a
      >
    </div>
  </div>
  <div class="col-4 border rounded shadow ms-3 p-5">
    <div class="online-time d-flex align-items-center flex-column mb-5">
      <h5 class="text-primary mb-3">Online</h5>
      <p>Monday 01:00 PM - 06:00 PM</p>
      <p>Tuesday 01:00 PM - 06:00 PM</p>
      <p>Saturday 01:00 PM - 06:00 PM</p>
    </div>
    <div class="clinic-time d-flex align-items-center flex-column mb-5">
      <h5 class="text-primary mb-3">Clinic</h5>
      <p>Monday 10:00 AM - 12:00 PM</p>
      <p>Wednesday 10:00 AM - 12:00 PM</p>
      <p>Thursday 10:00 AM - 12:00 PM</p>
    </div>
    <div class="appointment-options w-100">
      <div class="vstack gap-2">
        <button type="button" class="btn btn-primary w-100">
          Book Appointment
        </button>
        <button type="button" class="btn btn-outline-primary w-100" `>
          Video Consult
        </button>
      </div>
    </div>
  </div>
</div>

<% } %>
