<% layout('layout/boilerplate') %>
<!-- <link rel="stylesheet" href="/css/icon.css" />
<link rel="stylesheet" href="/css/doctor.css" /> -->
<link rel="stylesheet" href="/css/icon.css" />
<link rel="stylesheet" href="/css/profilePage.css" />
<% if(user.entryType === "patient"){ %>
<div class="row">
  <div class="col-5">
    <div class="card p-3 profile">
      <img src="<%=user.image.path ? user.image.path : "/image/defaultUser.png"
      %>" alt="" class="card-img-top img-fluid profilePhoto mt-3" />
      <div class="card-body">
        <div class="profileDetails">
          <b class="card-title">Full Name</b>
          <span class="card-text"><%= user.fullName %></span>
        </div>
        <div class="profileDetails">
          <b class="card-title">Username</b>
          <span class="card-text"><%= user.username %></span>
        </div>
        <div class="profileDetails">
          <b class="card-title">Email</b>
          <span class="card-text"><%= user.emailId %></span>
        </div>
        <div class="profileButton d-flex gap-3 mb-3">
          <a href="/caredata/users/<%= user._id %>/edit" class="w-100">
            <button class="btn btn-warning w-100">Edit</button>
          </a>
          <form action="/logout" method="post" class="w-100">
            <button class="btn btn-danger w-100">Log Out</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-7 profile-features">
    <div class="card me-3 mb-3 col profile-feature">
      <a class="redirection-box" href="/caredata/users/<%= user._id %>/upload">
        <h4>Upload Data</h4>
      </a>
    </div>

    <div class="card me-3 mb-3 col profile-feature">
      <a class="redirection-box" href="">
        <h4>Consult with Doctor</h4>
      </a>
    </div>

    <div class="card me-3 mb-3 col profile-feature">
      <a class="redirection-box" href="">
        <h4>Appointments</h4>
      </a>
    </div>
    <div class="card me-3 mb-3 col profile-feature">
      <a class="redirection-box" href="">
        <h4>Book Appointments</h4>
      </a>
    </div>
  </div>
</div>
<% } else{ %>
<div class="row">
  <div class="col-7 p-5 border rounded shadow me-4" style="height: 550px">
    <div class="d-flex mb-3">
      <div class="basic-info d-flex flex-column pe-5">
        <img src="<%=user.image.path ? user.image.path :
        "/image/defaultUser.png" %>" alt="avatar" class="img-fluid profilePhoto
        mb-3" />
        <h5 class="text-primary"><%= user.fullName %></h5>
        <% if(user.doctorDetails){ %>
        <small><%= user.doctorDetails.speciality %></small>
        <% } %>
      </div>
      <div class="full-info">
        <div
          class="info-container d-flex align-items-center border-bottom mb-3"
        >
          <i class="fa-solid fa-user-graduate icon me-3"></i>
          <% if(user.doctorDetails){ %>
          <p><%= user.doctorDetails.education %></p>
          <% } %>
        </div>
        <div
          class="info-container d-flex align-items-center border-bottom mb-3"
        >
          <i class="fa-solid fa-location-dot icon me-3"></i>
          <% if(user.doctorDetails){ %>
          <p><%= user.doctorDetails.location %></p>
          <% } %>
        </div>
        <div
          class="info-container d-flex align-items-center border-bottom mb-3"
        >
          <i class="fa-regular fa-id-card icon me-3"></i>
          <% if(user.doctorDetails){ %>
          <p><%= user.doctorDetails.regId %></p>
          <% } %>
        </div>
        <div
          class="info-container d-flex align-items-center border-bottom mb-3"
        >
          <ion-icon name="language" class="icon me-3"></ion-icon>
          <% if(user.doctorDetails){ %>
          <p><%= user.doctorDetails.language %></p>
          <% } %>
        </div>
      </div>
    </div>
    <% if(user.doctorDetails){ %>
    <div class="about-doctor pb-3"><%= user.doctorDetails.aboutDoctor %></div>
    <% } %>

    <div class="profileButton d-flex gap-3">
      <a
        type="button"
        href="/caredata/users/<%= user._id %>/edit"
        class="btn btn-warning w-100"
        >Edit
      </a>
      <form action="/logout" method="post" class="w-100">
        <button class="btn btn-danger w-100">Log Out</button>
      </form>
      <a
        href="/caredata/users/<%= user._id %>/adddetails"
        type="button"
        class="btn btn-success w-100"
        >Add Details</a
      >
    </div>
  </div>
  <div class="col-4 border rounded shadow ms-3 p-5">
    <div class="online-time d-flex align-items-center flex-column mb-5">
      <h5 class="text-primary mb-3">Online</h5>
      <p>Monday 01:00 PM - 06:00 PM</p>
      <p>Tuesday 01:00 PM - 06:00 PM</p>
      <p>Saturday 01:00 PM - 06:00 PM</p>
    </div>
    <div class="clinic-time d-flex align-items-center flex-column mb-5">
      <h5 class="text-primary mb-3">Clinic</h5>
      <p>Monday 10:00 AM - 12:00 PM</p>
      <p>Wednesday 10:00 AM - 12:00 PM</p>
      <p>Thursday 10:00 AM - 12:00 PM</p>
    </div>
    <div class="appointment-options w-100">
      <div class="vstack gap-2">
        <button type="button" class="btn btn-primary w-100">
          Book Appointment
        </button>
        <button type="button" class="btn btn-outline-primary w-100" `>
          Video Consult
        </button>
      </div>
    </div>
  </div>
</div>
<!-- <section class="doctor-profile">
  <section class="container grid grid-two-col">
    <section class="">
      <div class="container grid grid-three-col">
        <div class="profile-main">
          <img class="doctor-img" src="<%=user.image.path ? user.image.path :
          "/image/defaultUser.png"%>" alt="Doctor-Image" />
          <h2 class="doctor-name"><%= user.fullName %></h2>
          <% if(user.doctorDetails){ %>
          <h2 class="doctor-speciality">
            <%= user.doctorDetails.speciality %>
          </h2>
          <% } %>
        </div>
        <div>
          <ul class="profile-icons">
            <i class="fa-solid fa-graduation-cap" style="color: #0d0a94"></i>
            <i class="fas fa-map-marker-alt" style="color: #0d0a94"></i>
            <i class="fa-solid fa-user-check" style="color: #0d0a94"></i>
            <i class="fas fa-language" style="color: #0d0a94"></i>
          </ul>
        </div>
        <div class="doctor-details">
          <ul class="qualification">
            <% if(user.doctorDetails){ %>
            <li><%= user.doctorDetails.education %></li>
            <% } %>
          </ul>
          <hr class="social-line" />
          <ul class="doctor-location">
            <% if(user.doctorDetails){ %>
            <li><%= user.doctorDetails.location %></li>
            <% } %>
          </ul>
          <hr class="social-line" />
          <ul class="verified">
            <% if(user.doctorDetails){ %>
            <li><%= user.doctorDetails.regId %></li>
            <% } %>
          </ul>
          <hr class="social-line" />
          <ul class="languages">
            <% if(user.doctorDetails){ %>
            <li><%= user.doctorDetails.language %></li>
            <% } %>
          </ul>
          <hr class="social-line" />
        </div>
      </div>
      <div>
        <% if(user.doctorDetails){ %>
        <p class="doctor-about"><%= user.doctorDetails.aboutDoctor %></p>
        <% } %>
      </div>
      <div class="profileButton d-flex gap-3 mb-3">
        <a href="/caredata/users/<%= user._id %>/edit" class="w-100">
          <button class="btn btn-warning w-100">Edit</button>
        </a>
        <form action="/logout" method="post" class="w-100">
          <button class="btn btn-danger w-100">Log Out</button>
        </form>
      </div>
    </section>

    <section class="appointment">
      <div class="online">
        <h2>Online</h2>
        <ul class="bullet">
          <li>MONDAY 1:00 PM - 06:00 PM</li>
          <li>TUESDAY 10:00 AM - 06:00 PM</li>
          <li>SATURDAY 10:00 AM - 06:00 PM</li>
          <li>SUNDAY NO SLOTS AVAILABLE</li>
        </ul>
      </div>
      <div class="clinic">
        <h2>Clinic</h2>
        <ul class="bullet">
          <li>MONDAY 10:00 AM - 12:00 PM</li>
          <li>TUESDAY NO SLOTS AVAILABLE</li>
          <li>WEDNESDAY 10:00 AM - 12:00 PM</li>
          <li>THURSDAY NO SLOTS AVAILABLE</li>
        </ul>
      </div>
      <div class="button">
        <button class="book-btn" type="submit">Book Appointment</button>
        <button class="video-btn" type="submit">Video Consult</button>
      </div>
      <div class="social-icons">
        <hr class="social-line" />
        <h2>Find Dr. Devayan on</h2>
        <hr class="social-line" />
        <a href="https://www.facebook.com/your-profile" target="">
          <i class="fa-brands fa-facebook" style="color: #1877f2"></i>
        </a>
        <a href="https://www.twitter.com/your-profile" target="">
          <i class="fa-brands fa-twitter" style="color: #1aa1f2"></i>
        </a>
        <a href="https://www.instagram.com/your-profile" target="">
          <i
            class="fa-brands fa-instagram"
            style="
              background: linear-gradient(
                to right,
                #feda75,
                #fa7e1e,
                #d62976,
                #962fbf,
                #4f5bd5
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            "
          ></i>
        </a>
        <a href=" https://www.linkedin.com/your-profile" target="">
          <i class="fa-brands fa-linkedin" style="color: #0076b2"></i>
        </a>
        <hr class="social-line" />
      </div>
    </section>
  </section>
</section>

<section class="reviews">
  <section class="container grid grid-one-col">
    <h2 class="review-title">Reviews of Patients</h2>
    <div class="review">
      <div class="container grid grid-two-col">
        <div class="review-img">
          <img src="/image/user1.png" alt="User 1" />
        </div>
        <div class="review-content">
          <h3 class="user-name">User 1</h3>
          <p class="review-text">Great experience. Will come again!</p>
          <p class="rating">
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star-half"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="review">
      <div class="container grid grid-two-col">
        <div class="review-img">
          <img src="/image/user2.png" alt="User 2" />
        </div>
        <div class="review-content">
          <h3 class="user-name">User 2</h3>
          <p class="review-text">Great experience. Will come again!</p>
          <p class="rating">
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star-half"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="review">
      <div class="container grid grid-two-col">
        <div class="review-img">
          <img src="/image/user3.png" alt="User 3" />
        </div>
        <div class="review-content">
          <h3 class="user-name">User 3</h3>
          <p class="review-text">Great experience. Will come again!</p>
          <p class="rating">
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
          </p>
        </div>
      </div>
    </div>
  </section>
</section> -->
<% } %>
